.sign-up-sheet {
  position: relative;
  overflow: hidden;
  background: linear-gradient(var(--electric-blue), var(--dark-grey));
  height: calc(100vh - 200px);
}

.sign-up-layer {
  animation: moveUp 240s ease-in-out infinite;
}

.sign-up-img {
  display: inline-block;
  border-radius: 20px;
  height: 300px;
  margin: 5px;
}

.sign-up-form {
  height: 100%;
  background: linear-gradient(#0ca091, #01463f);
}

.fade1 {
  animation: fadeIn 3s ease-in-out;
}

.fade2 {
  animation: fadeIn 4s ease-in-out;
}

.fade3 {
  animation: fadeIn 5s ease-in-out;
}

.fade4 {
  animation: fadeIn 6s ease-in-out;
}

.fade5 {
  animation: fadeIn 7s ease-in-out;
}

.fade6 {
  animation: fadeIn 8s ease-in-out;
}

.fade7 {
  animation: fadeIn 9s ease-in-out;
}

.fade8 {
  animation: fadeIn 10s ease-in-out;
}

@keyframes moveUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5200px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
