.manage-sheet {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
}

.form {
  background-color: var(--light-grey);
  /* border: 3px solid var(--electric-blue);name, artist, song_key, bpm */
  border-radius: 20px 20px 0 0;
}

.input {
  margin-right: 5rem;
}

button {
  margin-right: 2rem;
  border-radius: 10px;
  font-weight: bolder;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--electric-blue);
}

button:hover {
  background-color: var(--electric-blue);
  color: white;
  /* background-color: rgb(202, 202, 202); */
}

.delete-btn {
  margin-right: 0;
  padding: 0;
}

.added-songs-list {
  background: var(--dark-grey);
  /* background: linear-gradient(147deg, #ccffff 5%, #ffefc3 90%); */
  border-radius: 0 0 20px 20px;
}

.song-item {
  color: white;
  /* background-color: rgb(221, 221, 221); */
  /* line-height: 30px; */
  text-align: left;
  font-weight: bolder;
  font-size: 18px;
  border-bottom: 3px solid var(--light-grey);
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 10px;
}

.song-item:hover {
  border: 3px solid var(--electric-blue);
  background: var(--light-grey);
  cursor: pointer;
}

.song-info {
  display: inline-block;
  overflow-x: hidden;
  /* width: 300px; */
}

.song-item .song-info:first-child {
  width: auto;
}

.song-item .song-info:last-child {
  /* Your styles here */
}
