.form {
    background-color: var(--light-grey);
    /* border: 3px solid var(--electric-blue);name, artist, song_key, bpm */
    border-radius: 20px 20px 0 0;
}

.input {
    margin-right: 5rem;
}

button {
    margin-right: 2rem;
    border-radius: 10px;
    font-weight: bolder;
    padding: 0.5rem;
    background-color: white;
    color: var(--electric-blue);
}

button:hover {
    background-color: var(--electric-blue);
    color: white;
    /* background-color: rgb(202, 202, 202); */
}