.nav-sect {
  height: 120px;
  z-index: 9999;
  background-color: var(--grey);
  box-shadow: 1px 1px 10px var(--electric-blue);
}

.nav-brand {
  padding: 0.5rem;
  color: var(--electric-blue) !important;
  font-size: 30px;
  border-radius: 10px;
}

.app-logo {
  border-radius: 50%;
  width: 90px;
}

.app-logo:hover {
  box-shadow: 0 0 10px var(--electric-blue);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  from,
  to {
    box-shadow: 0 0 1px var(--electric-blue);
  }

  50% {
    box-shadow: 0 0 10px var(--electric-blue);
  }
}

.navbar-toggler {
  color: var(--electric-blue) !important;
}

.navbar-toggler-icon {
  color: var(--electric-blue) !important;
}

.nav-link {
  color: var(--goldenrod);
  font-size: 25px;
  font-weight: lighter;
  background-color: var(--grey);
  border-radius: 0 0 10px 10px;
}

.nav-link:hover {
  color: var(--electric-blue);
}
