.form {
    background-color: var(--light-grey);
    border-radius: 20px 20px 0 0;
}

.input {
    margin-right: 5rem;
}

button {
    margin-right: 2rem;
    border-radius: 10px;
    font-weight: bolder;
    padding: 0.5rem;
}

button:hover {
    background-color: rgb(202, 202, 202);
}