.foot-sheet {
  background: rgb(12, 12, 12);
  color: grey;
  justify-content: space-between;
}

.Link a:hover {
  color: var(--electric-blue);
}

@media (max-width: 576px) {
  .foot-sheet {
    font-size: 10px;
  }
}
