:root {
  --electric-blue: #00c8b5;
  --goldenrod: #DAA520;
  --grey: #202023;
  --light-grey: #29292c;
}

.App {
  text-align: center;
  background: url("./Imgs/Blue_Corner_Blob.png") no-repeat;
  background-size: cover;
  /* background-color: #202023; */
  min-height: 100vh;
}

h1 {
  font-weight: bolder;
  font-size: 70px !important;
  color: var(--electric-blue) !important;
}

ul, label {
  color: white !important;
  font-size: 20px;
  padding-right: 15px;
  list-style-type: none;
}